<h1><%= t("help.title") %></h1>
<p>
  <h2><%= t("help.help_text") %></h2>
  <%= link_to t("rails_tutorial.help_page"), "http://www.railstutorial.org/help" %>
  <h2><%= t("help.book_text") %></h2>
  <%= link_to t("rails_tutorial.book_link"), "http://www.railstutorial.org/book" %>
</p>
